<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.circle8.circleOne"
    android:installLocation="preferExternal">

    <permission
        android:name="com.circle8.circleOne.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.circle8.circleOne.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.provider.MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ApplicationUtils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:allowBackup">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <!--<meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.quickblox.sample.chat" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.quickblox.messages.services.gcm.QBGcmPushListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!--<service
            android:name="com.quickblox.messages.services.gcm.QBGcmPushInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        -->
        <!--
        <service
            android:name=".gcm.GcmPushListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        -->
        <service
            android:name="com.quickblox.messages.services.gcm.QBGcmPushInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="GCM" />
        <meta-data
            android:name="com.quickblox.messages.SENDER_ID"
            android:value="@string/sender_id" />
        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="PRODUCTION" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}"
            tools:replace="android:value"/>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity
            android:name=".Activity.CardsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/circle8ircleonet" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".MainActivity"></activity>
        <!-- <receiver android:name=".Utils.TimeReceiver"/> -->
        <activity
            android:name=".Activity.EventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EventDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Connect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fragments.ConnectFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EventsSelectOption"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1975329582755186"
            android:exported="true" />

        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbarSplash" />
        <activity
            android:name=".Activity.CardDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.ConnectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity android:name=".Activity.RedeemListActivity" />
        <activity
            android:name=".Activity.Connect3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.Connect4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.Connect5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.CustomDate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NFCDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbarSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Walkthrough.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.AddQRActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.FingerPrintLogin"
            android:label="CircleOne"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeDialog" />
        <activity
            android:name=".Activity.GroupTag"
            android:screenOrientation="portrait" />
        <!--
            <activity
            android:name=".Activity.Notification"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".ExternalNFC.NFCExternal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TestimonialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TestimonialRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.PrizeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.WriteTestimonialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.NewCardRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.NewCardRequestDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.NewCardRequestActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.GroupDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.SubscriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.Help2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.GroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.StripeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ContactsImportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ManageMyProfile"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.ForgotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.LuckyDrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.RewardsPointsActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.ManuallyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.UpdateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeDialog" />
        <activity
            android:name=".Activity.ImageZoom"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.SearchGroupMembers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.TestimonialCardDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiContactPickerActivity"
            android:label="@string/picker_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CreateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <!--
            <activity
            android:name=".Activity.MerchantDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        -->
        <service android:name=".Utils.TimeService" />

        <activity
            android:name=".Activity.AttachmentDisplay"
            android:theme="@style/NoActionbarSplash" />
        <activity
            android:name=".Activity.CardVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".chat.DialogsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".chat.ChatInfoActivity"
            android:label="@string/chat_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.AttachmentImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".chat.SelectUsersActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".widget.UILWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.PrizeHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Activity.RedeemActivity"
            android:screenOrientation="portrait"
        android:theme="@style/NoActionbar"/>

        <activity
            android:name=".Activity.TokenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.DashboardActivity"
            android:theme="@style/NoActionbar">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.amplearch.circleonet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/com.circle8.circleOne"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.circle8.circleone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AddManuallyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar" />
        <activity android:name=".Activity.AnimActivity"></activity>


        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.authorization.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.authorization.LandingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.authorization.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.authorization.SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.invitefriends.InviteFriendsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.feedback.FeedbackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.profile.UserProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.call.CallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.chats.NewMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.chats.NewGroupDialogActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.chats.CreateGroupDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.chats.PrivateDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.chats.GroupDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.chats.GroupDialogDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.profile.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.chats.AddFriendsToGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.changepassword.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.forgotpassword.ForgotPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.agreements.UserAgreementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeQB"
            android:name="com.circle8.circleOne.ui.activities.others.PreviewImageActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.circle8.circleOne.ui.activities.location.MapsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeQB"/>
        <activity android:name="com.quickblox.ui.kit.chatmessage.adapter.media.video.ui.VideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:theme="@style/VideoPlayerTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.circle8.circleOne.ui.activities.others.ExitActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true"/>


        <service
            android:name="com.quickblox.q_municate_core.service.QBService"
            android:icon="@drawable/ic_launcher"/>
        <service
            android:name="com.circle8.circleOne.fcm.FcmPushListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.quickblox.messages.services.fcm.QBFcmPushInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.circle8.circleOne.Common.broadcasts.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.circle8.circleOne.Common.broadcasts.ChatMessageReceiver"
            android:label="ChatMessageReceiver">
            <intent-filter>
                <action android:name="q_municate.got_chat_message" />
            </intent-filter>
        </receiver>

        <service android:name="com.quickblox.q_municate_core.network.NetworkGCMTaskService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <service android:name=".service.SessionJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <service android:name="com.circle8.circleOne.service.CallService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>