<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amplearch.circleonet">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.CardsActivity" />
        <activity android:name=".Activity.EventsActivity" />
        <activity android:name=".Activity.EventDetail" />
        <activity android:name=".Activity.Connect" />
        <activity android:name=".Activity.SortAndFilterOption" />
        <activity android:name=".Activity.EventsSelectOption" />
        <activity
            android:name=".Activity.Profile"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.CardDetail"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.ConnectActivity"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.Connect3Activity"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.Connect4Activity"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.Connect5Activity"
            android:theme="@style/NoActionbar" />
        <activity android:name=".Activity.CustomDate"></activity>
        <activity android:name=".Activity.NFCDemo">
        </activity>
        <activity android:name=".Activity.VolleyDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>