<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amplearch.circleonet">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:name=".ApplicationUtils.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Activity.CardsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.amplearch.circleonet" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.EventsActivity" />
        <activity android:name=".Activity.EventDetail" />
        <activity android:name=".Activity.Connect" />
        <activity android:name=".Activity.SortAndFilterOption" />
        <activity android:name=".Activity.EventsSelectOption" />
        <activity
            android:name=".Activity.Profile"
            android:theme="@style/NoActionbar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1910928962566224"
            android:exported="true" />

        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.CardDetail"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.ConnectActivity"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.Connect3Activity"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.Connect4Activity"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Activity.Connect5Activity"
            android:theme="@style/NoActionbar" />
        <activity android:name=".Activity.CustomDate" />
        <activity android:name=".Activity.NFCDemo" />
        <activity android:name=".Activity.VolleyDemo" />
        <activity android:name=".Activity.MainActivity" />
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Walkthrough.HelpActivity"
            android:theme="@style/NoActionbar" />
        <activity android:name=".Activity.AddQRActivity"></activity>
    </application>

</manifest>